---
layout: default
title: thought
---

{% for post in site.categories.thought %}
<div class="entry">
	<h2 class="entry-title">
        <a href="{{ post.url }}" title="{{ post.title }}" rel="bookmark">{{ post.title }}</a>
    </h2>
    <div class="entry-date">
        {{ post.date | date:'%b <div>%d</div> %Y' | replace:'>0','>' }}
    </div>
	<div class="entry-content">
		{{ post.description }}...
	    <a href="{{ post.url }}" class="read_more">更多>></a>
    </div>
    <p class="alt-font">Post in&nbsp;
        {% for category in post.categories %}
        <span>
            {{ category }}
        </span>
        {% endfor %}
        <a class="comments-link" href='{{post.url}}#disqus_thread'>comments</a>
    </p>
    <div class="rule"><br /></div>
</div>
{% endfor %}




