
<div class="navbar navbar-inverse navbar-fixed-top">
	<div class="navbar-inner">
		<div class="container">
			<div class="nav-collapse collapse">
				<a class="brand" href="/">astrophor</a>

				<ul class="nav pull-right" role="navigation">
					<li class="dropdown">
						<a href="#" role="button" class="dropdown-toggle" data-toggle="dropdown">生活<b class="caret"></b></a>
						<ul class="dropdown-menu" role="menu">
							<li role="presentation"><a role="menuitem" tabindex="-1" href="/thought.html">杂感</a></li>
							<li role="presentation"><a role="menuitem" tabindex="-1" href="/travel.html">旅行</a></li>
							<li role="presentation"><a role="menuitem" tabindex="-1" href="/reading.html">读书</a></li>
						</ul>
					</li>

					<li class="dropdown">
						<a href="#" role="button" class="dropdown-toggle" data-toggle="dropdown">技术<b class="caret"></b></a>
						<ul class="dropdown-menu" role="menu">
							<li role="presentation"><a role="menuitem" tabindex="-1" href="/summary.html">总结</a></li>
							<li role="presentation"><a role="menuitem" tabindex="-1" href="/training.html">训练</a></li>
						</ul>
					</li>

					<li>
						<a href="/about.html" role="button">关于</a>
					</li>

					<li>
						<a href="http://weibo.com/astrophor" target="_blank"><img src="/image/weibo.png" style="width:20px;height:20px;"></a>
					</li>

					<li>
						<a href="http://github.com/astrophor" target="_blank"><img src="/image/github.png" style="width:20px;height:20px;"></a>
					</li>

					<li>
						<a href="http://www.douban.com/people/starshoot/" target="_blank"><img src="/image/douban.png" style="width:20px;height:20px;"></a>
					</li>

					<li>
						<a href="/atom.xml" target="_blank"><img src="/image/feed.png" style="width:20px;height:20px;"></a>
					</li>

				</ul>

			</div>
		</div>
	</div>
</div>
