
<!DOCTYPE html>
<html lang="en">
	<head>
    	<meta name="viewport" content="width=device-width, initial-scale=1.0">
    	<meta charset="UTF-8">
    	<!-- Bootstrap -->
    	<link href="/css/bootstrap.css" rel="stylesheet" media="screen">
    	<link href="/css/test.css" rel="stylesheet" media="screen">
    	<script src="/js/jquery-1.9.1.min.js"></script>
    	<script src="/js/bootstrap.min.js"></script>
    	<script src="js/timeline.js"></script>
	</head>
	<body>

		{% include head.html %}

		<div class="container">
			<div id="wrapper">
				{{ content }}
			</div>
		</div>

		{% include foot.html %}

	</body>
</html>
